.message {
  font-size: 1.3em;
  font-weight: bold;
  padding: 1em;
}

.greenMessage {
  color: green;
}

.redMessage {
  color: red;
}

.greenBorder {
  border: 1px solid green;
}

.redBorder {
  border: 1px solid red;
}
