<div class="form">
  <form name="signup" novalidate>
    <div class="form-group">
      <label>First Name:</label>
      <input type="text" class="form-control" name="firstname"
             ng-model="signupCtrl.firstname"
             required>
      <span ng-if="signup.firstname.$error.required && signup.firstname.$touched"
            class="error-text">
        First Name cannot be empty
      </span>
    </div>
    <div class="form-group">
      <label>Last Name:</label>
      <input type="text" class="form-control" name="lastname"
             ng-model="signupCtrl.lastname"
             required>
      <span ng-if="signup.lastname.$error.required && signup.lastname.$touched"
             class="error-text">
         Last Name cannot be empty
      </span>
    </div>
    <div class="form-group">
      <label>Email:</label>
      <input type="email" class="form-control" name="email"
             ng-model="signupCtrl.email"
             required>
      <span ng-if="signup.email.$invalid && signup.email.$touched"
           class="error-text">
       Must be a valid email of the format handle@domain
      </span>
    </div>
    <div class="form-group">
      <label>Phone number:</label>
      <input type="text" class="form-control" name="phone" placeholder="###-###-####"
             ng-model="signupCtrl.phone"
             pattern="(\d{3})-(\d{3})-(\d{4})"
             required>
      <span ng-if="signup.phone.$invalid && signup.phone.$touched"
          class="error-text">
          Must be a valid phone number of the format ###-###-####
      </span>
    </div>
    <div class="form-group">
      <label>Menu number of favorite dish:</label>
      <input type="text" class="form-control" name="dish" placeholder="Ex. A1"
             ng-model="signupCtrl.dish"
             ng-minlength="2"
             pattern="[A-Z]\d+"
             required
             favoritedish />
      <span ng-if="signup.dish.$invalid && signup.dish.$touched
                   && !signup.dish.$error.favoritedish"
         class="error-text">
         Menu number must have valid format of a capital letter followed by numbers
      </span>
      <span ng-if="signup.dish.$pending">
        Checking if dish is valid...
      </span>
      <span ng-if="(signupCtrl.submitted && !signupCtrl.validDish)
                   || signup.dish.$error.favoritedish"
            class="error-text">
        No menu number exists.
      </span>
    </div>
    <div class="form-group">
      <button class="btn btn-primary"
              ng-disabled="signup.$invalid || signup.dish.$pending.favoritedish"
              ng-click="signupCtrl.submitForm()">Submit</button>
    </div>
    <span ng-if="signupCtrl.submitted && signupCtrl.validDish">
      Your information has been saved.
    </span>
  </form>
</div>
